:root {
  --main-color: #ce0000;
  --secondary-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url('../image/background_laptop.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  font-family: 'DroidKufi';
  background-color: #ce0000;
}

@media (max-width: 768px) {
  body {
    background-image: url('../image/background_phone.jpeg');
  }
}

.container {
  width: 95%;
  margin: auto;
}

/* start header */
/* start header */
/* start header */
.header {
  background-color: #fff;
  width: 100%;
   display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  margin: 0px;
  padding: 0px;
  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes thebest {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
  color: var(--main-color);
  padding: 0;
  margin: 0;
}

.header .container .name span {
  color: var(--main-color);
    padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 30px;
  }

  .header img {
    width: 50px;
   
  }

  .header .container .name {
    font-size: 10px;
  }
}
.header .container .name h1 {
  color: var(--main-color);
    padding: 0;
  margin: 0;
}
/* start  profile */
/* start  profile */
/* start  profile */

.profile {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  direction: rtl;
  width: 100%;
  font-weight: 900;
  color: #ffffff;
}

.profile .image img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.profile .text {
  padding-top: 20px;
  font-size: 25px;
  line-height: 0.1;
  font-weight: 900;
  color: #ffffff;
}
@media (max-width: 500px) {
  .profile .text p {
    padding-top: 10px;
    font-size: 18px;
    line-height: 0.1;
   }
  .profile .image img {
    width: 130px;
   }
}

.profile .text span {
  font-size: 40px;
  font-weight: 1000;
  line-height: 40px;
}

@media (max-width: 500px) {
  .profile .text span {
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    color: #ffffff;
   }
}
.profile .icon {
  padding-top: 20px;
  word-spacing: 15px;
  margin-bottom: -10px;
}

.profile .icon i {
  font-size: 30px;
  color: #fff;
}
@media (max-width: 500px) {
  body {
    height: 700px;
  }
  .profile .icon {
    }
  .profile .icon i {
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
  }
}
.profile .icon i:hover {
  font-size: 40px;
  color: #000000;
}

/* start   contant */
/* start   contant */
/* start   contant */

.contant {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 48px;
}
.contant .container {
  width: 70%;
}
.contant a {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.contant .col span {
  display: none;
}

.contant .col {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff 2px solid;
  border-radius: 100px;
  background-color: #0000007d;
}

.contant .col:hover span {
  display: inline;
  color: #000000;
}

.contant .col:hover {
  height: 50px;
  scale: 1.1;
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 2px solid;
  border-radius: 100px;
}

.contant .col:hover i {
  color: #000000;
}
.contant .col:hover a {
  color: #000000;
}

.time {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 100px;
}

.time .container {
  text-align: center;
}

@media (max-width: 500px) {
  .contant {
    padding-left: 0px;
    width: 350px;
    width: 100%;

    text-align: center;
    padding-bottom: 70px;
  }
  .contant .container {
    width: 90%;
  }

  .contant .col {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }

  .contant a {
    font-size: 15px;
    text-decoration: none;
  }
  .contant .col:hover {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }

  .contant .col:hover span {
    display: none;
    color: var(--secondary-color);
  }

 
  .time {
      margin-bottom: 0px;
  }
}
